@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">sample web side</h1>
<html>
<head>
<meta charset="UTF-8">
<title>성격 테스트 메인 샘플 화면</title>
<style>
	body{
		width : 600px;
		padding-top : 50px;
		padding-left : 50px;
	}
	header{
		height : 150px;
	}
</style>
</head>
<body>
	<header>
		<h1>재미있는 2분 성격 테스트</h1>
	</header>
	<article>
		<div style = "height : 150px;">
			<p>"2분 성격 테스트"는 10개의 문항을 살펴본 뒤 점수를 매기고 결과에 따른 자신의 성격을 점검하는 테스트입니다.</p>
			<p>하루 중 기분이 좋을 때, 걸을 때 보폭, 앉을 때 자세, 좋아하는 색 등 일상 속 자신의 모습을 생각해보고 자신이 현명한 사람인지,
			 깐깐한지, 또는 소심한지 알아볼 수 있습니다.</p>
		</div>
		<div style = "text-align : center;">
			<form action="test_view" method="POST">
				<p>이름 : <input type = "text" name="name" required/></p> 
				<p><input type = "submit" value = "시작하기>>" /></p>
			</form>
		</div>
	</article>
</body>
</html>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">메인 화면 끝</a>.</p>
</div>
